<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykc.offer.mapper.memberMapper">

	<select id="getMemberList" resultType="com.ykc.offer.member.vo.MemberVO">
		SELECT MEMBER_NO , NAME, FAMILY_NAME , TYPE , CH_NAME FROM MEMBER
		LEFT OUTER JOIN FAMILY ON MEMBER.FAMILY_ID = FAMILY.FAMILY_ID
		LEFT OUTER JOIN CHURCH ON MEMBER.CH_NO = CHURCH.CH_NO
	</select>	
	
	
	<select id="getMemberOne" resultType="com.ykc.offer.member.vo.MemberVO">
		SELECT 
			*
		FROM 
			MEMBER
		WHERE 
			NAME = #{name}
	</select>
</mapper> 