<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ykc.offer.mapper.offerMapper">

	<select id="getTestOffer" resultType="HashMap">
		SELECT 
		NAME,
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201901', OFFER_VAL, NULL)) AS '01월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201902', OFFER_VAL, NULL)) AS '02월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201903', OFFER_VAL, NULL)) AS '03월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201904', OFFER_VAL, NULL)) AS '04월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201905', OFFER_VAL, NULL)) AS '05월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201906', OFFER_VAL, NULL)) AS '06월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201907', OFFER_VAL, NULL)) AS '07월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201908', OFFER_VAL, NULL)) AS '08월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201909', OFFER_VAL, NULL)) AS '09월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201910', OFFER_VAL, NULL)) AS '10월',
		  SUM(if(SUBSTR(OFFER_DTM,1,6) = '201911', OFFER_VAL, NULL)) AS '11월'
		 FROM OFFER
		 WHERE OFFER_TYP = 1
		GROUP BY NAME;
	</select>
	
	
	<select id="getOfferTotalListByDateCd" parameterType="com.ykc.offer.offer.vo.OfferVO" resultType="HashMap">
        SELECT 
            NAME
          <foreach collection="offerDateList" item="date" >                     
            ,SUM(if(SUBSTR(OFFER_DTM,1,6) = '${date}', OFFER_VAL, NULL)) AS '${date}'
          </foreach>  
            ,SUM(if(SUBSTR(OFFER_DTM,1,6) BETWEEN #{startYM} AND #{endYM}, OFFER_VAL, NULL)) AS 'TOTAL'     
        FROM OFFER
        WHERE OFFER_TYP_CD IN (<foreach collection="cdList" item="cd" separator=",">'${cd}'</foreach>)    
            AND CH_NO = #{ch_no}                  
        GROUP BY MEMBER_NO
    </select>
    
    <select id="getOfferTotalListByTyp" parameterType="com.ykc.offer.offer.vo.OfferVO" resultType="HashMap">
        SELECT                  
            (select OFFER_TYP_NAME from OFFER_TYP where OFFER_TYP_CD = O.OFFER_TYP_CD AND CH_NO = O.CH_NO) AS 'OFFER_TYP_NAME' 
          <foreach collection="offerDateList" item="date" >                     
            ,SUM(if(SUBSTR(OFFER_DTM,1,6) = '${date}', OFFER_VAL, NULL)) AS '${date}'
          </foreach>  
            ,SUM(if(SUBSTR(OFFER_DTM,1,6) BETWEEN #{startYM} AND #{endYM}, OFFER_VAL, NULL)) AS 'TOTAL'     
        FROM OFFER O
        WHERE OFFER_TYP_CD IN (<foreach collection="cdList" item="cd" separator=",">'${cd}'</foreach>)    
            AND CH_NO = #{ch_no}  
        GROUP BY OFFER_TYP_CD
        
        UNION ALL
        
        SELECT                  
            '총합계' AS OFFER_TYP_NAME
          <foreach collection="offerDateList" item="date" >                     
            ,SUM(if(SUBSTR(OFFER_DTM,1,6) = '${date}', OFFER_VAL, NULL)) AS '${date}'
          </foreach>  
            ,SUM(if(SUBSTR(OFFER_DTM,1,6) BETWEEN #{startYM} AND #{endYM}, OFFER_VAL, NULL)) AS 'TOTAL'
        FROM OFFER        
    </select>
    
    
    <select id="getOfferDateList" resultType="String">
        SELECT 
            DISTINCT SUBSTR(OFFER_DTM,1,6) OFFER_DTM_YM  
        FROM OFFER
        WHERE 
            SUBSTR(OFFER_DTM,1,6) BETWEEN #{startYM} AND #{endYM}
    </select>
	
	<select id="getOfferTypByCh" resultType="com.ykc.offer.offer.vo.OfferTypVO">
        SELECT OFFER_TYP_CD,
            OFFER_TYP_NAME,
            CH_NO,
            length(OFFER_TYP_NAME) OFFER_TYP_NAME_LENGTH 
        FROM OFFER_TYP
           WHERE CH_NO = #{ch_no}
    </select>
    
    <select id="getOfferByMemberNo" resultType="com.ykc.offer.offer.vo.OfferVO">    
        SELECT 
			SEQ,
			MEMBER_NO,
			CH_NO,
			STR_TO_DATE(INPUT_DTM, '%Y%m%d') INPUT_DTM,
			STR_TO_DATE(MOD_DTM, '%Y%m%d') MOD_DTM,
			WEEK_NUM,
			OFFER_VAL,
			NAME,
			STR_TO_DATE(OFFER_DTM, '%Y%m%d') OFFER_DTM,
			(SELECT OFFER_TYP_NAME FROM OFFER_TYP WHERE CH_NO = O.CH_NO AND OFFER_TYP_CD = O.OFFER_TYP_CD) OFFER_TYP_CD
		FROM OFFER O
			WHERE O.MEMBER_NO = #{member_no}
			AND O.CH_NO = #{ch_no}
    </select>
    
    <insert id="insertOffer" parameterType="com.ykc.offer.offer.vo.OfferVO" >    
        INSERT INTO OFFER
		(
		SEQ,
		MEMBER_NO,
		CH_NO,
		INPUT_DTM,
		MOD_DTM,
		WEEK_NUM,
		OFFER_VAL,
		NAME,
		OFFER_DTM,
		OFFER_TYP_CD
		)
		VALUES
		(
		#{seq},
		#{member_no},
		#{ch_no},
		DATE_FORMAT(NOW() , '%Y%m%d'),
		#{mod_dtm},
		#{week_num},
		#{offer_val},
		#{name},
		DATE_FORMAT(#{offer_dtm},'%Y%m%d'),
		#{offer_typ_cd}
		)
    </insert>
    
</mapper> 